*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: roboto;
	src: url(http://127.0.0.1/sisa_Shop/app/public/assets/fonts/roboto/Roboto-Regular.ttf);
}

html, body{
	width: 100%;
	height: 100%;
	font-family: roboto;
}



#contText{
width: 30%;
padding-top: 5%;
padding-left: 3%;
}

#titulo{
font-size: 35px;
font-weight: bold;
color: #333;

}

.textos{
font-size: 20px;
padding-top: 15px;
text-align : justify;
color: #333;

}

/*****************
//////ADMIN////////
******************/
.panelIzq{
float: left;
height: 100%;
width: 15%;
background-color: #3F85B3;
}

.crearBodega,.editarProducto,.enviarCorreos,.crearCategoria, .crearSubcategoria, .crearProducto, .subirTemplate, .cambiarTemplate, .aumentarStock{
	cursor:pointer;
	height: 35px;
	padding-top: 10px;
	font-size: 15px;
	padding-left: 20px;
	text-align: left;
}


.crearBodega:hover,.editarProducto:hover,.enviarCorreos:hover,.crearCategoria:hover, .crearSubcategoria:hover, .crearSubcategoria:hover, .crearProducto:hover, .subirTemplate:hover, .cambiarTemplate:hover, .aumentarStock:hover{
	background-color: #4EA4DE;
	color: white;
}

.barraH{
	color:#fff;

}

.workspace{
	float: right;
	width: 85%;
	height: 100%;
	background-color: rgb(241,241,241);
}

.hidden{
	display: none;
}

.area{
	height:50%; 
	width: 50%;
    margin:0 auto; 
    background-color:white;
    margin-left: 25%;
    margin-top: 10%;
    border: 2px solid #3F85B3;
}

form{
    width:50%; 
    margin-left: 20%;
}

form input[type="text"]{
	float: right;
}

form input[type="submit"]{
	float: right;
}
.check{
	display: block;
}
.titulo{
	text-align: center;
	color:white;
	background-color: #3F85B3;
	height: 40px;
	line-height:40px;
}

#cambiarTemplate select{

	float: right;
}

/*****************
/////TIENDA///////
******************/

.contenedorImagen{
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
     
}
.contenedorImagen img{
    height: 100%;
    width: 100%; 
   
}

.imagen{
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.imagen img{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.containerProducto{
	width: 33%;
	height: 50%;
	display: inline-block;
	padding: 2px;
	border: 2px solid black;
}

.categoria input {
	float: right;
}

.subcategoria {
	background-color: rgb(50,50,50);
	text-align: center;
}
.subcategoria input {
	float: left;
}

.subcategoria a{
	text-decoration: none;
	color: white;
}

.subcategoria a:hover{
	color: gray;

}

.usuario {
	color: white;
}
.contenidoProduc{
	background-color: #DCDADA;
    width: 100%;
}
