.asyncLoader{
	color: #8aa4af;
	padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}
.asyncLoader:hover{
	color: white;
}
.asyncLoader i{
	width: 20px;
}

iframe{
	display: none;
	width: 100%;
	height: 100%;
}

form{
	padding: 20px;
}
form, form input,form textarea, form select{
	display: inline-block;
	width: 100%;
	max-width: 700px;
	margin-bottom: 5px;
}
form input{
	padding: 8px 15px;
}

form input[type=color]{
    height: 40px;
}

.coloredTile{
	background-color: #dd4b39 !important;
	color: white !important;
	/*font-size: 100% !important;*/
	border-top: 3px solid rgba(26,34,38,0.3);
}

table{
	border: 1px solid gray;
}
table th{
	padding: 5px 15px;
}
table td{
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: left;
	padding: 2px 5px;
}

#loader{
	width: 100%;
	margin: auto auto;
	text-align: center;
}

#loader img{
	width: 40px;

}

.coolB:hover{
	background-color: #3c8dbc !important;
}

.colorPicker{
	width: 25px;
	height: 25px;
	padding: 5px;
	border: 1px solid gray;
	margin: 2px;
	display: inline-block;
	cursor: pointer;
}

.colorPicker:hover,.colorPicked{
	border: 4px solid rgba(50,50,50,0.4);
}

#colorPHolder{
	width: 100%;
	max-width: 700px;
}

.iconAnchor{
	cursor: pointer;
}

.imgContainer{
	width: 100%;
}

.imgContainer img{
    width: 100%;
    /*max-width: 700px;*/
}

.niceTab{
    width: 100%;
    padding: 5px 10px;
    background-color: #182227;
    color: white;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
}
iframe{
	/*display:none;*/
}

#ProfileWrapper{
	vertical-align: top;
	text-align: center;
}
#MobilePreview{
	display: inline-block;
	width: 400px;
	height: 822px;
	background-image: url(../assets/profile/iPhone6White.png);
	background-size: 100% 100%;
	padding: 105px 25px 100px 28px;
}

#MobilePreview .content{
	width: 100%;
	height: 100%;
	background-color: rgb(243,243,243);
	padding: 0;
	/*background-image: url(../assets/profile/fake.png);*/
	background-size: 100% 100%;
}

#MobilePreview div{
	padding: 0; margin: 0;
}

#navigationBar{
	width: 100%;
	height: 90px;
	border-bottom: 1px solid gray;
}

#navigationBar .notificationsBar{
	height: 35px;
}

#navigationBar .titleBar{
	height: 50px;
	line-height: 50px;
	font-size: 150%;
	background-image: url(../assets/profile/titleBar.png);
	background-size: 100% 100%;
}

#MobilePreview .content .logoSpace{
	margin-top: -5px;
	width: 100%;
	height: 180px;
	background-color: rgb(28,28,28);
	text-align: center;
	vertical-align: middle;
	padding-top:13px; 
}

#logoSitio img{
	border-radius: 100px;
	border: 1px solid gray;
	height: 150px;
	width: 150px;
	background-color:black;
	margin: auto auto !important;
}

#ProfileForm{
	width: 550px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#ProfileForm span{
	margin: 0 0 10px 0;
	font-size: 120%;
	font-weight: bolder;
}

#switches ul{
	margin-top: 5px;
	margin-left: 0px;
	padding: 3px;
}

#switches ul li{
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid black;
	width: 84px;
	margin-left: -5px;
}

#switches .selected{
	background-color: rgb(0,119,49);
	color: white;
}

.left-rounded{
	border-radius:5px 0  0 5px;
}
.right-rounded{
	border-radius: 0 5px 5px 0;
}

#infoView{
	overflow: auto;
	height: 300px;
}

#infoView .title{
	padding: 10px;
	background-color: white;
	margin: 15px 15px 5px 15px;
	font-size: 120%;
}

#infoView .description,#infoView .horario,
#infoView .parqueadero,#infoView .telefonos
,#infoView .sitioWeb{
	padding: 15px;
	background-color: white;
	margin: 0px 15px 5px 15px;
	text-align: justify;
	font-size: 90%;

}

.niceLabel{
	font-weight: bold;
	margin: 5px 0 5px 0;
}

.courtPicker{
	margin-bottom: 15px;
}

.courtPicker .court {
	background-size: 100%;
	width: 80px;
	height: 150px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.courtPicker .court:hover, .courtPicker .selected{
	font-weight: bolder;
	border-top: 4px solid gray;
}

.courtPicker .court .pic{
	background-image: url(../assets/courts/soccer-field.jpg);
	background-size: 100%;
	width: 80px;
	height: 135px;
}

form span{
	font-size: 85%;
}

.hidden{
	display: none;
}

td img{
	width: 150px;
}
.note{
	font-weight: normal !important;
	font-size: 90% !important;
	margin-bottom: 10px;
}

form .radio_container input{
	display: inline-block;
	width: auto;
	margin-left: 10px;
	margin-bottom: 10px;
}

.fieldsetContent{
	padding: 20px;
	border: 1px solid gray;
}

.remover{
	cursor: pointer;
}

.toggleable{
	display: none;
}
.toggleTitle{
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid gray;
}

#userMatches{
	border: 1px solid gray;
	border-top: none;
	margin-top: -5px;
	padding-top: 5px;
}

#userMatches li{
	cursor: pointer;
	list-style: none;
	margin-left: -20px;
}

.addImg{
	width: 200px !important;
}