*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
@font-face {
    font-family: roboto;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

html,body{
	width: 100%;
	height: 100%;
        font-family: roboto;
	background-color: white;
	overflow-x: hidden;
}

#contenedor2{
    width:100%;
    height:100%;
    position: absolute;
    z-index: -1;
    background: rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}


#contenedor_img img{
    width:100%;
    height:100%;
    position: absolute;
     transform: translateX(0%);
     transition: transform 1.2s ease;
}


#contenedor_img2 img{
    width:100%;
    height:100%;
    position: absolute;
        transform: translateX(-100%);
     transition: transform 1.2s ease;
}

 #title{
 	font-size: 40px;
	color: white;
	text-align: center;
	position: absolute;
	padding-left: 15%;
	opacity: 0.85;
    padding-top: 32%;
    padding-bottom: 3%;
     transform: translateX(0%);
     transition: transform 1.2s ease;
}

.btn{
width: 220px;
height: 35px;
position: absolute;
z-index: 1;
border-radius: 5px;
margin-left: 15%;
padding-top: 9px;
text-align: center;
background-color: rgb(84,226,134);
cursor: pointer;
color: white;
}


.btn[name="login"]{
margin-top: 40%;
}
.btn[name="register"]{
margin-top: 60%;
}

#title2{
 	font-size: 40px;
	color: white;
	text-align: center;
	position: absolute;
	padding-left: 0%;
	opacity: 0.85;
    padding-top: 32%;
    padding-bottom: 3%;
	 transform: translateX(-100%);
     transition: transform 1.2s ease;
}

#ingresar{
	cursor: pointer;
	padding-top: 20px;
	height: 93px;
	width: 100%;
	background-color: rgb(40,40,134);
	position: absolute;
	color: white;
	font-size: 40px;
	text-align: center;
}

@media only screen and (max-width: 320px) and (max-height: 480px){

     #title, #title2{
     color: white;
 	font-size: 25px;
	text-align: center;
    padding-top: 100%;
}

#ingresar{

	margin-top: 130.5%;
	padding-top: 5%;
	height: 62px;
	width: 100%;
	background-color: rgb(40,40,134);
	position: absolute;
	color: white;
	font-size: 30px;
	text-align: center;
}

#return_title{
    color: white;
    position: absolute;
    padding-top: 15%;
 	font-size: 20px;
 	z-index: 1;
	padding-left: 15%;
}

#return{
	margin-top: 130.5%;
	padding-top: 5%;
	height: 62px;
	width: 100%;
	background-color: rgb(40,40,134);
	position: absolute;
	color: white;
	font-size: 30px;
	text-align: center;

}
}

@media only screen and (max-width: 320px) and (min-height: 568px) {

    #title{
    color: white;
 	font-size: 30px;
	text-align: center;
    padding-top: 125%;
}

#ingresar{
	margin-top: 10%;
	padding-top: 5%;
	height: 65px;
	width: 100%;
	background-color: rgb(40,40,134);
	position: absolute;
	color: white;
	font-size: 30px;
	text-align: center;
}

}


@media only screen and (max-width: 375px) and (min-height: 627px) {

    #title{
    color: white;
 	font-size: 35px;
	text-align: center;
    padding-top: 115%;
}

#ingresar{
	margin-top: 10%;
	padding-top: 5%;
	height: 77px;
	width: 100%;
	background-color: rgb(40,40,134);
	position: absolute;
	color: white;
	font-size: 35px;
	text-align: center;
}

#return{
margin-top: 15%;
z-index: -1;
	padding-top: 5%;
	height: 77px;
	width: 100%;
	background-color: rgb(40,40,134);
	position: absolute;
	color: white;
	font-size: 35px;
	text-align: center;
}

 }