@font-face {
    font-family: roboto;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

body{
    
    background-image: url(../assets/galleries/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#formWrapper{
    margin-top: 15%;
}

input{
    display: block;
    padding: 10px;
    width: 100%;
}

input[type=submit]{
    padding: 10px;
    width: 108%;
}
input[type=radio]{
    padding: 10px;
    display: inline-block;
    width: 20%;
    
}

.formWrapper{
    width: 300px;
    margin-bottom: 50px;
    margin: auto auto;
}

.formTitle{
    color: white;
    font-weight: bold;
    font-size: 180%;
    text-align: center;
    width: 108%;
    background-color: rgb(34,34,34);
    
}
.singInValue{
    width: 100%;
}

.smallText{
    font-size: 80%;
    margin: 8px 0px; /* arriba, derecha, abajo, izquierda*/
                     /* arriba/abajo , derecha/izquierda*/
}
.smallText span{
    display: block;
    text-align: center;
}

#radioRegister{
    display: block;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid #BDBDBD;;
    
}
#fotoRegister{
    display: block;
    padding: 2px 10px;
    width: 100%;
    background-color: white;
    border: 1px solid #BDBDBD;;
    
}
#nomTienda{
    display: none;
}

a, a:hover, a:active, .smallText .button{
    text-decoration: none;
    color: rgb(34,34,34);;
    font-weight: bold;
}
.smallText .button{
    display: inline;
    cursor: pointer;
}
.hidden{
    display: none;
}

